<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/df67bacc25.js"
      crossorigin="anonymous"
    ></script>
    
    <!--<link rel="stylesheet" href="css/main.css"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
          </a>
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="#">
              Home
            </a>
            
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <form action = "/signup" method="GET">
                    <button class="button">signup</button>
                </form>    
                <form action = "/signup" method="GET">
                    <button class="button">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nav>


      <section>
        <div class="columns is-mobile is-centered mt-6 pt-6">
            <div class="column is-half">
               <form  action = "/check" method="POST">
                    <div class="field">
                        <label class="label">Email</label>
                            <div class="control">
                                <input class="input" name="Email" type="email" placeholder="Email" required>
                            </div>
                    </div>
                    <div class="field">
                      <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " name="Password" type="password" placeholder="password" value="" required>
                        </div>
                    </div>
                    
                
                
                  <div class="field">
                    <label class="label">Microsoft Team Name</label>
                    <div class="control">
                        <input class="input" name="MName" type="text" placeholder="Name" required>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">New Password</label>
                    <div class="control ">
                        <input class="input" id="txtPassword" name="NPassword" type="password" placeholder="Password" value="" required>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">New Email</label>
                        <div class="control">
                            <input class="input" name="NEmail" type="email" required>
                        </div>
                  </div>
                  
                  <h1 class="title is-3 has-text-danger has-text-centered" >Select your class Only </h1>
                  
                  <div class="field">
                    
                  </div>
                
              
                  
                  <div class="field  is-grouped has-text-left ">
                   
                    <div class="control">
                      <label class="label">Department</label>
                      <div class="select">
                        <select required name="Department" id="myselect">
                          <option required>none</option>
                          <option required>IT</option>
                          <option required>COMP</option>
                          <option required>MECH</option>
                          <option required>ENTC</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Year</label>
                      <div class="select">
                        <select required name="Year" id="myselect">
                          <option required>none</option>
                          <option required>FE</option>
                          <option required>SE</option>
                          <option required>TE</option>
                          <option required>TE</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Subject</label>
                      <div class="select">
                        <select required name="Subject" id="myselect">
                          <option required>none</option>
                          <option required>DBMS</option>
                          <option required>OS</option>
                          <option required>TOC</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Divison</label>
                      <div class="select">
                        <select required name="Div" id="myselect">
                          <option required>none</option>
                          <option required>DIV 1</option>
                          <option required>DIV 2</option>
                          <option required>DIV 1 & DIV 2</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                  </div>  

                  <!--<div class="field  is-grouped has-text-left">
                   
                    <div class="control">
                      <label class="label">Department</label>
                      <div class="select">
                        <select required name="Department" id="myselect">
                          <option required>none</option>
                          <option required>IT</option>
                          <option required>COMP</option>
                          <option required>MECH</option>
                          <option required>ENTC</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Year</label>
                      <div class="select">
                        <select required name="Year" id="myselect">
                          <option required>none</option>
                          <option required>FE</option>
                          <option required>SE</option>
                          <option required>TE</option>
                          <option required>TE</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Subject</label>
                      <div class="select">
                        <select required name="Subject" id="myselect">
                          <option required>none</option>
                          <option required>DBMS</option>
                          <option required>OS</option>
                          <option required>TOC</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Divison</label>
                      <div class="select">
                        <select required name="Div" id="myselect">
                          <option required>none</option>
                          <option required>DIV 1</option>
                          <option required>DIV 2</option>
                          <option required>DIV 1 & DIV 2</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                  </div> 
                  <div class="field  is-grouped has-text-left">
                   
                    <div class="control">
                      <label class="label">Department</label>
                      <div class="select">
                        <select required name="Department" id="myselect">
                          <option required>none</option>
                          <option required>IT</option>
                          <option required>COMP</option>
                          <option required>MECH</option>
                          <option required>ENTC</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Year</label>
                      <div class="select">
                        <select required name="Year" id="myselect">
                          <option required>none</option>
                          <option required>FE</option>
                          <option required>SE</option>
                          <option required>TE</option>
                          <option required>TE</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Subject</label>
                      <div class="select">
                        <select required name="Subject" id="myselect">
                          <option required>none</option>
                          <option required>DBMS</option>
                          <option required>OS</option>
                          <option required>TOC</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Divison</label>
                      <div class="select">
                        <select required name="Div" id="myselect">
                          <option required>none</option>
                          <option required>DIV 1</option>
                          <option required>DIV 2</option>
                          <option required>DIV 1 & DIV 2</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                  </div> 
                  <div class="field  is-grouped has-text-left">
                   
                    <div class="control">
                      <label class="label">Department</label>
                      <div class="select">
                        <select required name="Department" id="myselect">
                          <option required>none</option>
                          <option required>IT</option>
                          <option required>COMP</option>
                          <option required>MECH</option>
                          <option required>ENTC</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Year</label>
                      <div class="select">
                        <select required name="Year" id="myselect">
                          <option required>none</option>
                          <option required>FE</option>
                          <option required>SE</option>
                          <option required>TE</option>
                          <option required>TE</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Subject</label>
                      <div class="select">
                        <select required name="Subject" id="myselect">
                          <option required>none</option>
                          <option required>DBMS</option>
                          <option required>OS</option>
                          <option required>TOC</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                    <div class="control">
                      <label class="label">Divison</label>
                      <div class="select">
                        <select required name="Div" id="myselect">
                          <option required>none</option>
                          <option required>DIV 1</option>
                          <option required>DIV 2</option>
                          <option required>DIV 1 & DIV 2</option>
                          <option required>SEMP</option>
                        </select>
                      </div>
                    </div>

                  </div>-->
                  <!--<div class="control">
                    <label class="label">Divison</label>
                    <div class="select">
                      <select name="Div" id="myselect">
                        <option >none</option>
                        <option >DIV 1</option>
                        <option >DIV 2</option>
                        <option >DIV 1 & DIV 2</option>
                        <option >SEMP</option>
                      </select>
                    </div>
                  </div>-->
                  <div class="field is-grouped">
                    <div class="control">
                    <button class="button is-link" id="btnSubmit">Submit</button>
                    </div>
                  </div>
              </form>
                
            </div>  
        </div>
      </section>
</body>
</html>