<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/df67bacc25.js"
      crossorigin="anonymous"
    ></script>
    
    <!--<link rel="stylesheet" href="css/main.css"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
          </a>
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="#">
              Home
            </a>
           
        </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <form action = "/signup" method="GET">
                    <button class="button">signup</button>
                </form>    
                <form action = "/login" method="GET">
                    <button class="button">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section>
        <div class="columns is-mobile is-centered mt-6 pt-6">
            <div class="column is-half">
                <p class="title is-3">upload your CSV</p>
                <form action="/upload" method="POST">
                  
                   <label for="myfile">Select files:</label>
                    <input type="file" id="myfile" name="myfile" multiple><br><br>
                  <div class="control mt-5">
                    <button class="button is-primary ">Submit</button>
                  </div>
                </form>
            </div>
        </div>
      </section>
      
        
      <script>
        $('#i_file').change( function(event) {
    var tmppath = URL.createObjectURL(event.target.files[0]);
    $("img").fadeIn("fast").attr('src',URL.createObjectURL(event.target.files[0]));

    $("#disp_tmp_path").html("Temporary Path(Copy it and try pasting it in browser address bar) --> <strong>["+tmppath+"]</strong>");
});
        </script>   
</body>
</html>