<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Attendance Tracker</title>
  <link rel="icon" href="../static/img/Vector.png" size="32">
  <script src="https://kit.fontawesome.com/df67bacc25.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>
  <nav class="navbar is-transparent is-spaced">
    <div class="navbar-brand  ">
      <a class="navbar-item">
        <img src="../static/img/Vector.png" alt="Attendance Tracker" />
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">

              <button id="login" class="button is-rounded is-primary">Login</button>


            </p>
            <form action="/signup" method="GET">
              <p class="control">

                <button class="button is-rounded  ">
                  SignUp
                </button>

              </p>
            </form>

            </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-desktop is-vcentered">

          <div class="column is-6 has-text-centered">
            <h1 class="title is-2">Tracking Attendance made <span class="is-span">Easy.</span></h1>


            <button id="login" class="button is-rounded is-primary">Login</button>

          </div>
          <div class="column is-6 has-text-centered">
            <img src="../static/img/laptop-light.png">
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="modal ">
    <div class="modal-background"></div>
    <div class="modal-content">

      <div class="container box">

        <h1 class="title is-2 has-text-centered">Sign In to <span class="is-span">start</span></h1>
        <form action="/maincheck" method="POST">

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left ">
              <input class="input is-medium is-rounded " name="Email" type="email" placeholder="Email" required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left ">
              <input class="input is-medium is-rounded" id="txtPassword" name="Password" type="password"
                placeholder="Password" value="" required>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control has-text-centered">

              <button id="btnSubmit" class="button is-rounded is-primary">Login</button>
            </div>
          </div>
        </form>

        <form action="/forgetpassword" method="GET">
          <button id="btnSubmit" class="button is-rounded  mt-2">Forget Password</button>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>



  <footer class="footer is-dark">
    <div class="content has-text-centered">
      <h3 class="subtitle is-3 is-white-text">
        Made with love from <strong> <a class="is-span" target="_blank" href="http://skn.hackclub.com"> Hack Club,
            SKNCOE</a></strong>

      </h3>
      <div class="column">
        <p class="title is-4 is-white-text">Join the Club</p>
        <p class="subtitle is-4 mt-1">
          <a href="https://twitter.com/hackclubskn" class="mx-2">
            <i class=" is-span fab fa-twitter"></i>
          </a>
          <a class="mx-2">

            <i class=" is-span fab fa-instagram">

            </i>
          </a>
          <a href="https://www.linkedin.com/company/hack-club-skn" class="mx-2">
            <i class=" is-span fab fa-linkedin-in"></i>
          </a>
          <a class="mx-2">
            <i class=" is-span fab fa-github"></i>
          </a>
        </p>

      </div>
    </div>
  </footer>

  <script src="../static/js/script.js"></script>
</body>

</html>