<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link real="stylesheet" href="/static/css/styles.css"/>
    <link real="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>

    <div class="columns is-mobile is-centered mt-6 pt-6">
    <div class="column is-half">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Name">
                        </div>
                    </div>

                    
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " type="text" placeholder="Username" >
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " type="email" placeholder="Email" >
                        </div>
                        
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " type="password" placeholder="password" value="">
                        </div>
                        
                    </div>
                    
                    <!--<div class="field">
                        <label class="label">Subject</label>
                        <div class="control">
                        <div class="select">
                            <select>
                            <option>Select dropdown</option>
                            <option>With options</option>
                            </select>
                        </div>
                        </div>
                    </div>-->
                    
                   <!-- <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                        <textarea class="textarea" placeholder="Textarea"></textarea>
                        </div>
                    </div>-->
                    
                    
                    
                    <div class="field is-grouped">
                        <div class="control">
                        <button class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                        <button class="button is-link is-light">Cancel</button>
                        </div>
                    </div>
    </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>

    

